// Input device configuration
input {
    keyboard {
        xkb {
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        disabled-on-external-mouse
        scroll-factor 0.1
    }

    mouse {
        // natural-scroll
        // accel-speed 0.2
    }

    trackpoint {
        // natural-scroll
        // accel-speed 0.2
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
}
