// Window rules
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"brave$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="virt-manager"
    default-column-width { proportion 1.0; }
}

window-rule {
    match title="openpix"
    open-maximized true
}

// Example: block out password managers from screen capture
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

// Example: enable rounded corners for all windows
window-rule {
    geometry-corner-radius 18
    clip-to-geometry true
}
